.circle {
    display: inline-block;
    color: white;
    font-weight: 700;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px gray;
    background-color:#453D70
  }

  .fill {
    background-color: #DDAA10;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .txt {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 100;
  }